.main{
background-image: url("../images/FOOTBALLUI.jpg");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
height: 100vh;

position: relative;
top: 0;

}

.section1{

    background-color: #396419;
    height: 100vh;

}

.play-class{
    
    width: 9vw;
    
    position: absolute;
    top: 30vh;
    left: 44vw;
}
.play-class:hover{
    
    transform: scale(1.1);
    
}

.dwnload-class{
    
    width: 9vw;
    
    position: absolute;
    top: 40vh;
    left: 44vw;
}
.dwnload-class:hover{
    
    transform: scale(1.1);
    
}
.homebutton-class{
    width: 5vw;    
}


.homebutton-class:hover{
    
    transform: scale(1.1);
    
}
.upbutton-class{
    width: 5vw;

}

.upbutton-class:hover{
    
    transform: scale(1.1);
    
}
.home-div{
    position: fixed;
    bottom: 3rem;
    left: 3rem;
    z-index: 10;
}

.up-div{
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    z-index: 10;
}


.clouds1{
    position: absolute;
    bottom: -150px;
    z-index: 1;
}
.clouds2{
    position: absolute;
    bottom: -150px;
    right: 0px;
    z-index: 1;
}
.treel{
    position: absolute;
    bottom: -150px;
    
}

.treer{
    position: absolute;
    bottom: -150px;
    right: 0;
    
}




@media (min-width:1280px)  and (max-width:1919px){}


@media (min-width:1024px)  and (max-width:1270px){

    .dwnload-class{
    
        width: 13vw;
        left: 43vw;
    }
    .play-class{
        left: 43vw;
        width: 13vw;
    }
    .upbutton-class{
        width: 7vw;
    
    }
    .homebutton-class{
        width: 7vw;    
    }
   
}

@media (min-width:768px)  and (max-width:1023px){

    .dwnload-class{
    
        width: 13vw;
        left: 43vw;
    }
    .play-class{
        left: 43vw;
        width: 13vw;
    }
    .upbutton-class{
        width: 7vw;
    
    }
    .homebutton-class{
        width: 7vw;    
    }

}

@media (min-width:376px)  and (max-width:767px){


    .dwnload-class{
    
        width: 25vw;
        left: 38vw;
    }
    .play-class{
        left: 38vw;
        width: 25vw;
    }
    .upbutton-class{
        width: 12vw;
    
    }
    .homebutton-class{
        width: 12vw;    
    }
    .clouds1{
        width: 50vw;
        bottom: -50px;
    }
    .clouds2{
        bottom: -50px;
        width: 50vw;
    }
    .treel{
        bottom: -50px;
        width: 50vw;
    }
    .treer{
        bottom: -50px;
        width: 50vw;
    }


}

@media (max-width:375px){


    .dwnload-class{
    
        width: 30vw;
        left: 35vw;
    }


    .play-class{
        left: 35vw;
        width: 30vw;
    }

    .upbutton-class{
        width: 12vw;
    
    }
    .homebutton-class{
        width: 12vw;    
    }

    .clouds1{
        width: 50vw;
        bottom: -50px;
    }
    .clouds2{
        bottom: -50px;
        width: 50vw;
    }
    .treel{
        bottom: -50px;
        width: 50vw;
    }
    .treer{
        bottom: -50px;
        width: 50vw;
    }


}