
*{
    scroll-behavior: smooth;
}
.main{
    height: 100vh;
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size:cover ;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
}

.button-class{
    
    width: 14vw;
    padding: 20px;
    
}

.homebutton-class{
    width: 5vw;    
}

.upbutton-class{
    width: 5vw;

}
.home-div{
    position: fixed;
    bottom: 3rem;
    left: 3rem;
    z-index: 10;
}

.up-div{
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    z-index: 10;
}

.second-page{
    height: 100vh;
    background-image: url("../images/mazebg2.jpg");
    background-repeat: no-repeat;
    background-size:cover ;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
}

.screen-size{

    width:25vw;
}

.text-size{
    width: 40vw;
}

/* ---------lap 1------------- */
@media (min-width:1280px)  and (max-width:1919px){}



/* -----------------lap 2----------------- */
@media (min-width:1024px)  and (max-width:1270px){


    .button-class{
    
        width: 18vw;
    }

    .homebutton-class{
        width: 6vw;    
    }
    .upbutton-class{
        width: 6vw;
    
    }


}



/* ---------------ipad--------------------- */
@media (min-width:768px)  and (max-width:1023px){
    .screen-size{

        width:60vw;
    }
    
    .text-size{
        width: 60vw;
    }

    .button-class{
    
        width: 28vw;
    }

    .homebutton-class{
        width: 10vw;    
    }
    .upbutton-class{
        width: 10vw;
    
    }
}




/* ---------------myphone-------------------- */
@media (min-width:376px)  and (max-width:767px){
    .screen-size{

        width:70vw;
    }
    
    .text-size{
        width: 60vw;
    }

    .button-class{
    
        width: 40vw;
    }

    .homebutton-class{
        width: 15vw;    
    }

    .upbutton-class{
        width: 15vw;
    
    }
    .home-div{
        position: fixed;
        bottom: 2rem;
        left: 2rem;
    }
    .up-div{
        position: fixed;
        bottom: 2.5rem;
        right: 2rem;
    }
}




/* ----------------small phone---------------- */
@media (max-width:375px){
    .screen-size{

        width:70vw;
    }
    
    .text-size{
        width: 60vw;
    }

    .button-class{
    
        width: 40vw;
    }

    .homebutton-class{
        width: 15vw;    
    }

    .upbutton-class{
        width: 15vw;
    
    }
    .home-div{
        position: fixed;
        bottom: 2rem;
        left: 2rem;
    }
    .up-div{
        position: fixed;
        bottom: 2.5rem;
        right: 2rem;
    }
}