
*{
    scroll-behavior: smooth;
}
.main{
    height: 100vh;
    background-image: url("../images/bg.jpg");
    background-repeat: no-repeat;
    background-size:cover ;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 0;
}

.button-class{
    
    width: 14vw;
    padding: 20px;
    
}
.button-class:hover{
    
    transform: scale(1.1);
    
}

.homebutton-class{
    width: 5vw;    
}


.homebutton-class:hover{
    
    transform: scale(1.1);
    
}
.upbutton-class{
    width: 5vw;

}

.upbutton-class:hover{
    
    transform: scale(1.1);
    
}
.home-div{
    position: fixed;
    bottom: 3rem;
    left: 3rem;
    z-index: 10;
}

.up-div{
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    z-index: 10;
}

.second-page{
    height: 100vh;
    background-image: url("../images/mazebg2.jpg");
    background-repeat: no-repeat;
    background-size:cover ;
    padding: 20px;
    /* text-align: center;
    display: flex;
    flex-direction: column; */
    /* justify-content: center;
    align-items: center; */
    position: relative;
    top: 0;
}

.screen-size{
    position: absolute;
    top: 3vh;
    left: 10vw;

    width:25vw;
    /* background-color: red; */
}

.game-text{
    position: absolute;
    top: 35vh;
    left: 50vw;
    
   
}


.game-icon{
    
    width: 50vh;
    display: inline;
    /* background-color: blue; */
}




.third-page{
    height: 100vh;
    background-image: url("../images/mazebg2.jpg");
    background-repeat: no-repeat;
    background-size:cover ;
    padding: 20px;
    /* text-align: center;
    display: flex;
    flex-direction: column; */
    /* justify-content: center;
    align-items: center; */
    position: relative;
    top: 0;
}

.third-screen-size{
    position: absolute;
    top: 20vh;
    right: 10vw;

    width:40vw;
    /* background-color: red; */
}

.third-game-text{
    position: absolute;
    top: 40vh;
    left: 15vw;
    
   
}


.third-game-icon{
    
    width: 50vh;
    display: inline;
    /* background-color: blue; */
}
.fourth-page{
    height: 100vh;
    background-image: url("../images/mazebg2.jpg");
    background-repeat: no-repeat;
    background-size:cover ;
    padding: 20px;
    /* text-align: center;
    display: flex;
    flex-direction: column; */
    /* justify-content: center;
    align-items: center; */
    position: relative;
    top: 0;
}
.fourth-screen-size{
    position: absolute;
    top: 20vh;
    left: 10vw;

    width:40vw;
    /* background-color: red; */
}

.fourth-game-text{
    position: absolute;
    top: 40vh;
    right: 15vw;
    
   
}


.fourth-game-icon{
    
    width: 50vh;
    display: inline;
    /* background-color: blue; */
}






/* ---------lap 1------------- */
@media (min-width:1280px)  and (max-width:1919px){}



/* -----------------lap 2----------------- */
@media (min-width:1024px)  and (max-width:1270px){


    .button-class{
    
        width: 18vw;
    }

    .homebutton-class{
        width: 6vw;    
    }
    .upbutton-class{
        width: 6vw;
    
    }
    .game-text{
        
        top: 28vh;
    }

    .third-screen-size{
        position: absolute;
        top: 25vh;
        right: 10vw;
    
        width:40vw;
        /* background-color: red; */
    }
    
    .third-game-text{
        position: absolute;
        top: 40vh;
        left: 15vw;
        
       
    }
    
    
    .third-game-icon{
        
        width: 40vh;
     
     
    }


    .fourth-screen-size{
        position: absolute;
        top: 25vh;
        left: 10vw;
    
        width:40vw;
        /* background-color: red; */
    }
    
    .fourth-game-text{
        position: absolute;
        top: 40vh;
        right: 15vw;
        
       
    }
    
    
    .fourth-game-icon{
        
        width: 40vh;
     
     
    }

}



/* ---------------ipad--------------------- */
@media (min-width:768px)  and (max-width:1023px){
    .screen-size{

        width:60vw;
    }
    
    .text-size{
        width: 60vw;
    }

    .button-class{
    
        width: 28vw;
    }

    .homebutton-class{
        width: 10vw;    
    }
    .upbutton-class{
        width: 10vw;
    
    }
    .screen-size{
        position: absolute;
        top: 3vh;
        left: 34vw;  
        width:35vw;
        /* background-color: red; */
    }
    
    .game-text{
        position: absolute;
        top: 60vh;
        left: 25vw;
        
       
    }
       
    .game-icon{
        
        width: 40vh;
        display: inline;
        /* background-color: blue; */
    }

    .third-screen-size{
        position: absolute;
        top: 10vh;
        left: 20vw;
    
        width:60vw;
        /* background-color: red; */
    }
    
    .third-game-text{
        position: absolute;
        top: 50vh;
        left: 20vw;
        
       
    }
    
    
    .third-game-icon{
        
        width: 50vh;
     
    }
    .fourth-screen-size{
        position: absolute;
        top: 10vh;
        left: 20vw;
    
        width:60vw;
        /* background-color: red; */
    }
    
    .fourth-game-text{
        position: absolute;
        top: 50vh;
        left: 20vw;
        
       
    }
    
    
    .fourth-game-icon{
        
        width: 45vh;
     
    }


    
    

    
}




/* ---------------myphone-------------------- */
@media (min-width:376px)  and (max-width:767px){
    .screen-size{

        width:70vw;
    }
    
    .text-size{
        width: 60vw;
    }

    .button-class{
    
        width: 40vw;
    }

    .homebutton-class{
        width: 15vw;    
    }

    .upbutton-class{
        width: 15vw;
    
    }
    .home-div{
        position: fixed;
        bottom: 2rem;
        left: 2rem;
    }
    .up-div{
        position: fixed;
        bottom: 2.5rem;
        right: 2rem;
    }

    .screen-size{
        position: absolute;
        top: 7vh;
        left: 30vw;  
        width:45vw;
        /* background-color: red; */
    }
    
    .game-text{
        position: absolute;
        top: 60vh;
        left: 20vw;
        
       
    }
       
    .game-icon{
        
        width: 35vh;
        display: inline;
        /* background-color: blue; */
    }
    .third-screen-size{
        position: absolute;
        top: 25vh;
        left: 20vw;
    
        width:60vw;
        /* background-color: red; */
    }
    
    .third-game-text{
        position: absolute;
        top: 55vh;
        left: 20vw;
        
       
    }
    
    
    .third-game-icon{
        
        width: 35vh;
     
     
    }

    .fourth-screen-size{
        position: absolute;
        top: 25vh;
        left: 20vw;
    
        width:60vw;
        /* background-color: red; */
    }
    
    .fourth-game-text{
        position: absolute;
        top: 55vh;
        left: 20vw;
        
       
    }
    
    
    .fourth-game-icon{
        
        width: 35vh;
     
     
    }
    
}




/* ----------------small phone---------------- */
@media (max-width:375px){
    .screen-size{

        width:70vw;
    }
    
    .text-size{
        width: 60vw;
    }

    .button-class{
    
        width: 40vw;
    }

    .homebutton-class{
        width: 15vw;    
    }

    .upbutton-class{
        width: 15vw;
    
    }
    .home-div{
        position: fixed;
        bottom: 2rem;
        left: 2rem;
    }
    .up-div{
        position: fixed;
        bottom: 2.5rem;
        right: 2rem;
    }
    .screen-size{
        position: absolute;
        top: 15vh;
        left: 30vw;  
        width:45vw;
        /* background-color: red; */
    }
    
    .game-text{
        position: absolute;
        top: 60vh;
        left: 20vw;
        
       
    }
       
    .game-icon{
        
        width: 30vh;
        display: inline;
        /* background-color: blue; */
    }
    .third-screen-size{
        position: absolute;
        top: 25vh;
        left: 20vw;
    
        width:60vw;
        /* background-color: red; */
    }
    
    .third-game-text{
        position: absolute;
        top: 55vh;
        left: 20vw;
        
       
    }
    
    
    .third-game-icon{
        
        width: 30vh;
     
     
    }

    .fourth-screen-size{
        position: absolute;
        top: 25vh;
        left: 20vw;
    
        width:60vw;
        /* background-color: red; */
    }
    
    .fourth-game-text{
        position: absolute;
        top: 55vh;
        left: 20vw;
        
       
    }
    
    
    .fourth-game-icon{
        
        width: 30vh;
     
     
    }
    
}