*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.main{
    background-image: url("../images/bg1.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.header{
    padding: 50px 50px 20px 50px;
    color: white;
    width: 100%;
    background-color: rgba(19, 18, 21, .75);
    position: fixed;
    top: 0;
    text-align: center;
    z-index: 10;
}
.logo{
    display: block;
    padding-bottom: 20px;   
}
.logo-img{
    height: 50px;
}

 /* -------------navgation starts--------- */
.fa-bars{
    display: none;
}


ul{
    list-style-type: none;
}
li{
    display: inline-block;
    padding: 0px 15px;
}

.nav-links{
    text-decoration: none;
    color: white;
}

.nav-links:hover{
    text-decoration: none;
    font-weight: 800;
    color:#3dd0d8;
    
}

.active{
    color:#3dd0d8;
    font-weight: 800;
    
}
/* ---------------navigation ends------------------- */

/* -------------------main section starts----------------------- */
.background-shape{   

 width: 100%;
 position: absolute;    
 top: 250px;
 justify-content: center;
 display: flex;
}

.img-bg{
    width:60vw;
}
.cartoon-img{    
    width: 100%;
    position: absolute;
    top: 220px;
    padding-right: 10vw;
    display: flex;
    justify-content: flex-end;
}

.img-cartoon{
    width: 30vw;
}

.text-img{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 300px;
    padding-left: 26vw;
}
.img-text{
    width: 16vw;
}


@media (max-width:375px){
    /* ----------------- starts navigation----------------- */
    .fa-bars{       
        font-size: 25px;
        display: inline;
        padding-left: 70px;
        z-index: 1;
       
    }
    nav{

        position: fixed;
        top: 0%; left: -150% ;
        height: 100vh;
        width: 15rem;
        z-index: 2;
        
        background-color: black;
      }

      li{
          display: block;
          padding: 50px;
      }
    .logo{
        display: inline;
        
    }
    .header{
        padding: 20px;
    }
    .nav-toggle{
        left:0px;
    }
    /* ---------------navigation ends------------------- */
    /* ------------- main starts----------------- */
    .background-shape{   
     top: 15vh;
    }

    .img-bg{
        height: 50vh;
        width:60vw;
    }


    .cartoon-img{           
        top: 40vh;
        padding-left: 16vw;       
        justify-content: flex-start;

    }
   
    .img-cartoon{
        width: 70vw;
    }
    .text-img{
        top: 20vh;
        padding-left: 35vw;   
    }
    .img-text{
        width: 30vw;
    }
    
    /* ------------- main starts----------------- */




}

@media (min-width:376px)  and (max-width:767px){
    /* -----------------navigation----------------- */
    .fa-bars{       
        color: white;
        font-size: 25px;
        display: inline;
        padding-left: 70px;
        z-index: 1;
       
    }
    nav{

        position: fixed;
        top: 0%; left: -150% ;
        height: 100vh;
        width: 15rem;
        z-index: 10;
        
        background-color: black;
      }

      li{
          display: block;
          padding: 50px;
      }
    .logo{
        display: inline;
        
    }
    .header{
        padding: 20px;
    }
    .nav-toggle{
        left:0px;
    }
    .background-shape{   
        top: 15vh;
       }
   
       .img-bg{
           height: 50vh;
           width:60vw;
       }
   
   
       .cartoon-img{           
           top: 40vh;
           padding-left: 16vw;       
           justify-content: flex-start;
   
       }
      
       .img-cartoon{
           width: 70vw;
       }
       .text-img{
           top: 20vh;
           padding-left: 35vw;   
       }
       .img-text{
           width: 30vw;
       }
       
}

@media (min-width:768px)  and (max-width:1023px){


    .cartoon-img{           
        top: 235px;
    }
    .text-img{       
        top: 280px;       
    }

}
@media (min-width:1024px)  and (max-width:1270px){


    .cartoon-img{           
        top: 230px;
    }
    .text-img{       
        top: 290px;       
    }

}
@media (min-width:1280px)  and (max-width:1919px){


    .cartoon-img{           
        top: 220px;
    }
    .text-img{       
        top: 300px;       
    }

}
@media (min-width:1920px){


    .cartoon-img{           
        top: 210px;
    }
    .text-img{       
        top: 330px;       
    }

}