*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.mainDark{
    background-image: url("../images/bg1.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.mainLight{
    background-image: url("../images/bg2.jpg");
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
}
.header{
    padding: 50px 50px 20px 50px;
    color: white;
    width: 100%;
    background-color: rgba(19, 18, 21, .75);
    position: fixed;
    top: 0;
    text-align: center;
    z-index: 10;
}
.logo{
    display: block;
    padding-bottom: 20px;   
}
.logo-img{
    height: 50px;
}

 /* -------------navgation starts--------- */
.fa-bars{
    display: none;
}


ul{
    list-style-type: none;
}
li{
    display: inline-block;
    padding: 0px 15px;
}

.nav-links{
    text-decoration: none;
    color: white;
}

.nav-links:hover{
    text-decoration: none;
    font-weight: 800;
    color:#3dd0d8;
    
}

.active{
    color:#3dd0d8;
    font-weight: 800;
    
}
/* ---------------navigation ends------------------- */

/* -------------------main section starts----------------------- */
.background-shape{   

 width: 100%;
 position: relative;    
 top: 250px;
 justify-content: center;
 display: flex;
}

.img-bg{
    width:60vw;
}
.cartoon-img{    
    width: 100%;
    position: absolute;
    top: 220px;
    padding-right: 20VW;
    display: flex;
    justify-content: flex-end;
    z-index: 5;
    
}

.img-cartoon:hover{
    box-shadow: 0 25px 40px rgba(0, 0, 0, .5);
    transform: scale(1.01);
    transform: rotate3d(1,1,1);
}

.img-cartoon{
    border-radius: 50px;
    width: 30vw;
}

.text-img{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    position: absolute;
    top: 300px;
    padding-left: 26vw;
}
.img-text{
    width: 16vw;
}


/* ----------checkbox stratss--------------------- */


.checkbox_container{
    width: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    
    position: fixed;
    top: 90vh;

    
}

.inputBox{
    width: 60px;
    height: 20px;
    background-color: rgb(231, 231, 231);
    border-radius: 50px;
    position: relative;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.295), inset 0 10px 10px rgba(0, 0, 0, 0.295);
}

.inputBox input{
    width: 100%;
    height: 100%;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    position: absolute;
}

.inputBox label{
    font-size: 1.6rem;
    position: absolute;
    cursor: pointer;
    transform: translate(-10px, -8.5px);
}

.inputBox input:checked ~ label{
    transform: translate(35px, -8.5px);
}


/* -----------chceckbox ends--------------------------- */

/* -----------social media starts------------------ */




.socialmedia{   
    display: inline-block;
    position: absolute;
    top: 30vh;
    right: 0;
    z-index: 15;
    justify-content: center;
}

.social-ul{
    list-style: none;
    padding: 1rem;
    display: inline-flex;
    flex-direction: column;
}

.social-li{
   
    margin: .5rem;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 75%;
    font-size: 15px;
    text-align: center;
    

}


.social-li:hover{
    
    transform: scale(1.1);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .25);
}

.social-a{
    color: rgb(255, 255, 255);
    
}
.social-a:hover{
    color: rgb(15, 137, 185);
    
}
.social-a-yt:hover{
    color: rgb(255, 0, 0);   
}
.social-a-yt{
    color: rgb(255, 255, 255);  
}
.social-a-inst:hover{
    color: rgb(255, 0, 255);   
}
.social-a-inst{
    color: rgb(255, 255, 255);  
}










































/* -------------social media ends-------------- */


@media (max-width:375px){
    /* ----------------- starts navigation----------------- */
    .fa-bars{       
        font-size: 25px;
        display: inline;
        padding-left: 70px;
        z-index: 1;
       
    }
    nav{

        position: fixed;
        top: 0%; left: -150% ;
        height: 100vh;
        width: 15rem;
        z-index: 2;
        
        background-color: black;
      }

      li{
          display: block;
          padding: 50px;
      }
    .logo{
        display: inline;
        
    }
    .header{
        padding: 20px;
    }
    .nav-toggle{
        left:0px;
    }
    /* ---------------navigation ends------------------- */
    /* ------------- main starts----------------- */
    .background-shape{   
     top: 15vh;
    }

    .img-bg{
        height: 50vh;
        width:60vw;
    }


    .cartoon-img{           
        top: 40vh;
        padding-left: 16vw;       
        justify-content: flex-start;

    }
   
    .img-cartoon{
        width: 70vw;
    }
    .text-img{
        top: 20vh;
        padding-left: 35vw;   
    }
    .img-text{
        width: 30vw;
    }
    
    /* ------------- main ends----------------- */

    .socialmedia{   
        
        top: 30vh;
        
    }
    .social-li{
        padding: .8rem;
        font-size: 10px;
    }
       .social-ul{
           padding: .5rem;
       }


}

@media (min-width:376px)  and (max-width:767px){
    /* -----------------navigation----------------- */
    .fa-bars{       
        color: white;
        font-size: 25px;
        display: inline;
        padding-left: 70px;
        z-index: 1;
       
    }
    nav{

        position: fixed;
        top: 0%; left: -150% ;
        height: 100vh;
        width: 15rem;
        z-index: 10;
        
        background-color: black;
      }

      li{
          display: block;
          padding: 50px;
      }
    .logo{
        display: inline;
        
    }
    .header{
        padding: 20px;
    }
    .nav-toggle{
        left:0px;
    }
    .background-shape{   
        top: 15vh;
       }
   
       .img-bg{
           height: 50vh;
           width:60vw;
       }
   
   
       .cartoon-img{           
           top: 40vh;
           padding-left: 16vw;       
           justify-content: flex-start;
   
       }
      
       .img-cartoon{
           width: 70vw;
       }
       .text-img{
           top: 20vh;
           padding-left: 35vw;   
       }
       .img-text{
           width: 30vw;
       }

       .socialmedia{   
        
        top: 39vh;
        
    }
    .social-li{
        padding: .8rem;
        font-size: 10px;
    }
       .social-ul{
           padding: .5rem;
       }
}

@media (min-width:768px)  and (max-width:1023px){

    .socialmedia{   
        
        top: 18vh;
        
    }
    .social-li{
        padding: .8rem;
        font-size: 10px;
    }


    .cartoon-img{           
        top: 235px;
    }
    .text-img{       
        top: 280px;       
    }

}
@media (min-width:1024px)  and (max-width:1270px){

    .social-li{
        padding: .8rem;
        font-size: 13px;
    }
    .cartoon-img{           
        top: 230px;
    }
    .text-img{       
        top: 290px;       
    }

}
@media (min-width:1280px)  and (max-width:1919px){

    .social-li{
        padding: .8rem;
        font-size: 13px;
    }
    .cartoon-img{           
        top: 220px;
    }
    .text-img{       
        top: 300px;       
    }

}
@media (min-width:1920px){


    .cartoon-img{           
        top: 210px;
    }
    .text-img{       
        top: 330px;       
    }

}